
button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
}

.highlight {
    background-color: #f39c12;
    color: white;
    padding: 10px;
}

#specialButton {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
}


