@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout2";
}


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section content {
    <div style="width: 100px; height: 100px; background-color: blue; border-radius: 50%;"></div>

    <!-- Additional page-specific content here -->
}
