@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h2>Element Selector Example</h2>

<button>Button 1</button>
<button>Button 2</button>
<button>Button 3</button>



<h2>Class Selector Example</h2>

<p class="highlight">This is a highlighted paragraph.</p>
<button class="highlight">Highlight Button</button>
<div class="highlight">Highlighted Div</div>


<h2>ID Selector Example</h2>

<button id="specialButton">Special Button</button>


@*<style>
    button {
        background-color: #3498db;
        color: white;
        padding: 10px;
        border: none;
    }

    .highlight {
        background-color: #f39c12;
        color: white;
        padding: 10px;
    }

    #specialButton {
        background-color: #e74c3c;
        color: white;
        padding: 10px;
    }
</style>*@

